################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/T4Template
/T4Template/bin/Debug/netcoreapp2.1
/T4Template/obj
/T4Template/SqlServer/Domain/DomainTemplate.cs
