################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/T4Template
/T4Template/bin/Debug/netcoreapp2.1
/T4Template/obj
/T4Template/SqlServer/Domain/DomainTemplate.cs
/.vs/Eomthoy.T4/v15
/Eomthoy.T4.DataBaseTest/bin/Debug
/Eomthoy.T4.DataBaseTest/obj/Debug
/Eomthoy.T4/obj/Debug
*.cs
/Eomthoy.T4/SqlServer/Domain/*.cs
/Eomthoy.T4/SqlServer/DTO/*.cs
/Eomthoy.T4/MySql/Domain/*.cs
/Eomthoy.T4/MySql/DTO/*.cs
