<#@ include file="../../BaseTemplate.tt" #>
<#@ include file="SqlServerHelper.tt" #>
using System;
using System.Collections.Generic;

namespace <#=        namespaceDomain #>
{
    /// <summary>
    /// Create By T4Template
    /// </summary>
    public class Test
    {
        /// <summary>
        /// Id
        /// </summary>
        public int Id { get; set; }
    }
}